.hero {
  min-height: 790px;
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    background-color: #3fa701;
    color: #fff;
    display: inline-block;
    margin: 3px auto;
    padding: 0 38px;
    letter-spacing: 1px;

    &:first-child {
      margin-top: 70px;
    }
  }

  &__offer {
    font-size: 29px;
    max-width: 620px;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 120px;
  }

  &__cta {
    background-color: #fff;
    box-shadow: 0 14px 40px 0 rgba(0, 1, 3, 0.15);
    width: 640px;
    min-height: 300px;
    padding: 45px 50px;

    .form{
      &__title{
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
      }
      &__input{
        width: 219px;
        margin: 0 20px;

      }
      &__cta{
        text-align: center;
        margin: 37px auto 0;
      }
      &__submit{
        height: 55px;
      }
    }
  }
}
